@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "RecieverMessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}



<h1>Mesaj Detayları</h1>
<form class="form-group">
    @Html.Label("ID")
    @Html.HiddenFor(x => x.WriterMessageID, new { @class = "form-control" })
    <br />
    @Html.Label("Gönderici Adı")
    @Html.TextBoxFor(x => x.ReceiverName, new { @class = "form-control" })
    <br />
    @Html.Label("Gönderici Mail")
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
    <br />
    @Html.Label("Mesaj")
    @Html.TextBoxFor(x => x.MessageContent, new { @class = "form-control" })
</form>

